<footer class="bg-dark text-center text-lg-start ">
	<div class="container p-4">
		<div class="row">
			<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
				<h5 class="text-uppercase">ABOUT US</h5>
				<p>
					We are a passionate team dedicated to providing high-quality products and exceptional customer
					service.
					With years of experience in the industry, we strive to bring you the latest trends in clothes,
					electronics, books, and shoes. Our goal is to make your online shopping experience seamless and
					enjoyable, offering a wide selection of products from top brands.
					<br> <br>
					We believe in building
					long-lasting relationships with our customers by ensuring their satisfaction with every purchase.
					Explore our website and discover the perfect items that suit your style and needs.
					Thank you for choosing us as your go-to destination for all your shopping desires.
			</div>
			<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
				<h5 class="text-uppercase">Mail us</h5>
				<p>Shopping Zone <br>
					Buildings Alyssa
					Lal Bahadur Shastri Marg,
					Ambedkar Nagar, Kurla West
					Outer Ring Road, Devarabeesanahalli Village,
					Kurla, Mumbai 400070<br>
					Maharashtra, India</p>
				<h5>Contact us</h5>
				<p><mat-icon> call</mat-icon>+91-755-541-7338</p>
				<p><mat-icon> email</mat-icon>eshoppingzone@gmail.com</p>
			</div>
		</div>
	</div>
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2023 Copyright:
		<span class="text-light">Shopping Zone</span>
	</div>
</footer>