<body>
	<div class="container-fluid">
		<div id="demo" class="carousel slide mt-5" data-ride="carousel">
		  <ul class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li data-target="#demo" data-slide-to="1"></li>
			<li data-target="#demo" data-slide-to="2"></li>
			<li data-target="#demo" data-slide-to="3"></li>
			<li data-target="#demo" data-slide-to="4"></li>
			<li data-target="#demo" data-slide-to="5"></li>
		  </ul>
		  <div class="carousel-inner">
			<div class="carousel-item active">
			  <a (click)="onClick()"><img src="/assets/crousel9.jpg" alt="Clothing" width="1100" height="500"></a>
			</div>
			<div class="carousel-item">
			  <a (click)="onClick()"><img src="/assets/offer.jpg" alt="Clothing" width="1100" height="500"></a>
			</div>
			<div class="carousel-item">
			  <a (click)="onClick()"><img src="/assets/crousel12.jpg" alt="Clothing" width="1100" height="500"></a>
			</div>
			<div class="carousel-item">
			  <a (click)="onClick()"><img src="/assets/discount4.jpg" alt="Footwear" width="1100" height="500"></a>
			</div>
			<div class="carousel-item">
			  <a (click)="onClick()"><img src="/assets/crousel11.jpg" alt="Clothing" width="1100" height="500"></a>
			</div>
			<div class="carousel-item">
			  <a (click)="onClick()"><img src="/assets/discount5.jpg" alt="Footwear" width="1100" height="500"></a>
			</div>
		  </div>
		  <a class="carousel-control-prev" href="#demo" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		  </a>
		</div>
	  </div>
	  





	
	<div class="card">
		<div class="text-center" id="sale">
			<div class="row" style="text-decoration: none;margin-left: 170px;">
				Sale is On!
			</div>
		</div>
		<div class="matCard">
			<mat-card class="example-card" *ngFor="let image of images">
				<mat-card-header>
				</mat-card-header>
				<div id="center">
					<img mat-card-image [src]="image.img" height="80px" width="80px">
				</div>
				<mat-card-content>
				  <p style="text-align: center;margin-top: 4px;">
					{{image.desc}}
				  </p>
				</mat-card-content>
				<mat-card-actions>
				  <a role="button" class="text-success" style="text-decoration: none;margin-left: 135px;" (click)="onClick()"> shop now!</a>
				</mat-card-actions>
			  </mat-card>
		</div>
     </div>

</body><br>






<app-footer></app-footer>